test-py27:
  stage: test
  image: python:2.7
  script:
    - pip install "tox>3,<4"
    - tox -e py27

test-py35:
  stage: test
  image: python:3.5
  script:
     - pip install "tox>3,<4"
     - tox -e py35

test-py36:
  stage: test
  image: python:3.6
  script:
    - pip install "tox>3,<4"
    - tox -e py36

test-py37:
  stage: test
  image: python:3.7
  script:
    - pip install "tox>3,<4"
    - tox -e py37

# only tagged releases
publish:
  stage: deploy
  image: python:3.7
  only:
    - /^v\d+\.\d+\.\d+$/  # eg. "v1.2.3", "v1.0.12" etc.
  except:
    - branches
  environment:
    name: pypi
  script:
    - pip install --upgrade pip
    - pip install --upgrade setuptools
    - pip install "twine>1,<2"
    - python setup.py sdist bdist_wheel
    - twine upload dist/*
  artifacts:
    paths: dist/
    expire_in: 1 month
